.quote-comparison-selected H1 {
	font-size: 37px;
	font-weight: 800;
	line-height: 40px;
	text-align: left;
}

.quote-comparison-selected H2 {
	
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: left;
	color: #606167;
}
.quote-comparison-selected .quote-comparison-application-selected {
	margin-top: 30px;
}